.edit-main {
	position: fixed;
	right: 0;

	margin: auto;
	border-left: 1px solid var(--clr6);
	border-right: 1px solid var(--clr6);

	transform: translateX(120%);
	transition: transform 0.6s;
}

body.editor-open .edit-main {
	position: relative;
	transform: translateX(0);
}

.edit-main .back-btn {
	position: absolute;
	top: 25px;
	left: 25px;
	border: none;
	background-color: transparent;
	color: var(--clr3);
	font-size: 1em;
}

.edit-main .back-btn:hover {
	color: var(--clr4);
	cursor: pointer;
}

.edit-main canvas {
	border-radius: 10px;
}

.meme-operations {
	position: relative;

	display: flex;
	flex-direction: column;
}

.meme-operations .lines-control-main {
	margin-bottom: 20px;
}

.meme-operations .lines-control-header {
	font-size: 1.5em;
	color: var(--clr4);
}

.meme-operations .lines-control-btns > *:not(:first-child) {
	margin-inline-start: 15px;
}

.meme-operations .lines-control-btns button {
	background-color: transparent;
	border: none;
	color: var(--clr4);
	font-size: 1.3em;
}

.meme-operations .lines-control-btns button:hover {
	color: var(--clr1);
	cursor: pointer;
}

.meme-operations .lines-control-btns button:active {
	color: var(--clr3);
}

.meme-operations .line-operations {
	background-color: #fff;
	border: 1px solid var(--clr5);
	border-radius: 10px;
	margin-bottom: 1.5em;
}

.meme-operations .line-operations .line-btns {
	border-bottom: 1px solid var(--clr6);
	padding: 10px;
}

.line-operations .line-btns button {
	border: none;
	background-color: transparent;
	font-size: 1rem;
	font-family: fa;
	color: var(--clr4);
}

.line-operations .line-btns button.active {
	color: var(--clr1);
}

/* all buttons except the color pickers */
.line-operations .line-btns button:hover:not(:last-child, :nth-last-child(2)) {
	color: var(--clr1);
	cursor: pointer;
}

.line-operations .line-btns button:active:not(:last-child, :nth-last-child(2)) {
	color: var(--clr3);
}

.line-operations .line-btns > *:not(:first-child) {
	margin-inline-start: 15px;
}

.line-operations .line-btns .color-btn,
.line-operations .line-btns .stroke-btn {
	position: relative;
	text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black,
		0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black,
		0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black,
		0 0 2px black, 0 0 2px black, 0 0 2px black;
}

.line-btns input {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	cursor: pointer;
}

.meme-operations .line-operations .text-input {
	font-size: 1em;
	font-family: roboto-regular;
	border: none;
	outline: none;
	width: 100%;
	line-height: 4.125;
	border-radius: 10px;
	padding-inline-start: 0.6em;
}

.meme-operations .stickers {
	flex-wrap: wrap;
	background-color: #fff;
	padding: 0.6em;
	margin-bottom: 1.5em;
}
.meme-operations .stickers div {
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 1.6em;
	width: 3.5em;
}

.meme-operations .stickers div:hover {
	cursor: pointer;
	text-shadow: 1px 1px 4px black;
}

.edit-main .meme-operations .download-btn {
	text-align: center;

	font-size: 1.1em;
	font-family: roboto-medium;
	text-transform: uppercase;
	line-height: 3;
	background-color: var(--clr1);
	color: #fff;
	border: none;
	border-radius: 2em;
	padding: 0 2em;
	margin: 0 0.5em 1em 0.5em;
}

.edit-main .meme-operations .download-btn:hover {
	cursor: pointer;
	box-shadow: 1px 1px 5px black;
}

.edit-main .meme-operations .download-btn:active {
	box-shadow: 0 0 0 black;
}
