.gallery-main {
	display: grid;
	/* grid-template-columns: 1fr minmax(200px, 1440px) 1fr;
	grid-template-areas: '. gallery .'; */

	position: relative;
	transform: translateX(0);

	transition: transform 0.6s;
}

.gallery-grid {
	grid-area: gallery;
	background-color: #fff;
	height: 100%;
}

.gallery-grid img {
	border-radius: 10px;
}

.gallery-grid img:hover {
	cursor: pointer;
	box-shadow: 3px 3px 10px 1px black;
}

body.editor-open .gallery-main {
	position: fixed;
	left: 0;
	transform: translateX(-100%);
}
